body {
  background-image     : linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 0.5)), url("images/bible.jpg");
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-position  : center;
  background-size      : cover;
  background-blend-mode: darken;
  padding              : 1px;
}

#result {
  color: white;

}

h3 {
  display: flex;
  color  : white;
  height : 80%;
  margin : auto;
}


.text {

  color        : white;
  text-overflow: ellipsis;
  font-family  : cursive;


}

.grid {
  display  : flex;
  flex-wrap: wrap;
  margin   : auto;
  width    : 400px;
  height   : 80%;
  padding  : 1px;
}

.back {
  width : 120px;
  height: 80px;
}

.matched {
  background-color: rgba(123, 192, 19, 0.315) !important;
  background      : #18d34dcc;
  border          : 10px;
  transition      : 0s linear;
  padding         : 5px;

}

.card {

  width          : 120px;
  height         : 80px;
  overflow-wrap  : break-word;
  hyphens        : manual;
  word-break     : break-all;
  overflow-wrap  : break-word;
  text-overflow  : ellipsis;
  text-align     : center;
  text-align-last: auto;
  padding        : 1px;
  cursor         : pointer;

}

p {
  word-wrap: break-word;
}