body {
  background-image: linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 0.5)),
    url("images/bible.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  padding: 1px;
}


                          /* TEXTs & FONTs */
.main {
  color: white;
  text-align: center;
  
}

.text {
  color: white;
  font-size: 1.5em;
  width: -moz-fit-content;
  padding: 5px;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  text-align: center;
  text-align-last: auto;
}

#result {
  color: white;
}

#congratsOne {
  font-size: 28px;
  font-weight: bolder;
  text-decoration-color: teal;
  text-emphasis-color: red;
  color: aqua;
  transition-delay: 20ms;
}

#congrats {
  font-size: 28px;
  font-weight: bolder;
  text-decoration-color: teal;
  text-emphasis-color: red;
  color: aqua;
  transition-delay: 20ms;
}



                    /* GRID AND CARDS */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 98%;
  height: 80%;
  padding: 10px;
}

.card {
  width: 200px;
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-align-last: auto;
  padding: 2px;
  cursor: pointer;
}

.back {
  width: 200px;
  height: 140px;
}

.matched {
  background-color: rgba(123, 192, 19, 0.315) !important;
  background: #18d34dcc;
  border: 10px;
  transition: 0.4s linear;
  /* padding: 3px; */
}

#game-info {
  border: 2px solid #3498db;
  border-collapse: collapse;
  background: none;

  /* position: fixed; */
  padding: 5px 15px;
  text-align: center;
  transition: 1.2s;
  right: 5px;
  top: 5px;
}

               /* BUTTONS */
.btn {
  border: 2px solid #3498db;
  background: none;
  margin: 2px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.8s;
  font-size: 150%;
  
}

/* .container {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 0px;
} */
.btnDiv {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
}
#addVerseDiv {
   text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
}
.btn1,
.btn2 {
  background-color: #3498db;
}
.btn3,
.btn4 {
  color: #fff;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
  font-weight: bolder;
}

.btn3:hover,
.btn4:hover {
  color: #3498db;
}
.btn::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #50db34;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn3:active {
  color: red;
}
.btn3:visited {
  color: rgb(72, 255, 0);
}
.btn3:focus {
  color: rgb(255, 0, 221);
}
.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,
.btn4::before {
  height: 180%;
}
.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}
.btn3:hover::before,
.btn4:hover::before {
  height: 0%;
}

@media screen and (max-width: 659px) {
  .card {
    width: 160px;
    height: 100px;
  }
  .back {
    width: 160px;
    height: 100px;
  }
  .text {
    color: white;
    font-size: 1em;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .card {
    width: 100px;
    height: 60px;
  }
  .back {
    width: 100px;
    height: 60px;
  }
  .text {
    color: white;
    font-size: 0.7em;
    text-align: center;
  }
}
/* Back up */
/* @media only screen and (max-width: 54.9375em) {
  .menu-toggle {
    position: fixed;
    width: auto;
    height: 3.618rem;
    left: 50%;
    bottom: -2px;
    padding: 0 1.62em;
    margin: 0;
    line-height: 1.38;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid;
    border-radius: 2px;
    z-index: 999;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
} */
